.directory
/dist
**/.project
**/.pydevproject
**/.idea
/Examples/
**/__pycache__
**/.ipynb_checkpoints
/build
/docs/
__pycache__/
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
docs/_build/
.ipynb_checkpoints
.python-version
/venv/
config.py
/examples
/specdash/input/pfs/