astropy
dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-extensions
dash-html-components
dash-table
Flask
Flask-SocketIO>=5
Flask-Caching
ipython-genutils
jupyter-dash
jupyter-server-proxy
jupyterlab
numpy
requests
scipy
simple_websocket
specutils
Sphinx